# SERVER CONFIGURATION
PORT=3000

# MOMO SANDBOX KEYS
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=

# VNPAY SANDBOX KEYS
VNPAY_TMNCODE=
VNPAY_HASHSECRET=

# ALEPAY SANDBOX KEYS
ALEPAY_TOKEN_KEY=
ALEPAY_CHECKSUM_KEY=
ALEPAY_ENCRYPT_KEY=